<a href="https://colab.research.google.com/github/zzhining/python_data_basic/blob/main/3%EC%9E%A5/03_03_%EC%8B%A4%EC%8A%B5_%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90%EC%A3%BC%EA%B0%80%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.3.1 데이터 수집

## 야후 파이낸스 데이터 사용 방법


본 실습은 데이터 분석을 위해 미리 다운로드 받아 둔 csv파일을 사용하여 주가 데이터를 분석합니다. 실시간 데이터를 받아 분석하고 싶은 경우, [야후 파이낸스](https://finance.yahoo.com/)로 부터 주가 데이터를 다운로드 받아 분석할 수 있습니다. `pandas-datareader`와 `yfinance`를 라이브러리를 사용하면 야후 파이낸스의 데이터를 쉽게 읽어 올 수 있으므로 두 개의 패키지를 설치합니다.

작업 환경에 따라 `pip` 명령어 또는 `conda` 명령어를 사용하여 패키지를 설치해주세요.
```
pip install pandas-datareader
pip install yfinance
```

```
conda install pandas-datareader
conda install yfinance
```
`yfinance`를 설치한 이후에, *런타임을 재시작(Restart runtime)*합니다. 

두 개의 라이브러리를 설치한 다음, 아래의 코드를 사용하여 주가 데이터를 불러옵니다. 

```
from pandas_datareader import data
import yfinance as yfin

yfin.pdr_override()

# 삼성전자 주가코드: '005930.KS', 2020년 1월 1일부터 2021년 6월 8일까지의 데이터  
df = data.get_data_yahoo('005930.KS', start = '2020-01-01', end = '2021-06-08')
```

## 데이터 불러오기

In [31]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/zzhining/python_data_basic/main/3%EC%9E%A5/005930.KS.csv', index_col = 0)
df.head()

             Open   High    Low  Close    Adj Close    Volume
Date
2020-01-02  55500  56000  55000  55200  52537.17969  12993228
2020-01-03  56000  56600  54900  55500  52822.70703  15422255
2020-01-06  54900  55600  54600  55500  52822.70703  10278951
2020-01-07  55700  56400  55600  55800  53108.23828  10009778
2020-01-08  56200  57400  55900  56800  54059.99219  23501171

각 컬럼의 의미는 다음과 같습니다.
* Open: 시초가
* High: 고가
* Low: 저가
* Close: 종가
* Adj Close: 수정종가(분할, 배당, 배분, 신주 발생이 된 경우를 고려해 주식 가격을 조정한 가격) 
* Volume: 거래량

데이터 분석 시, 데이터의 연속성을 위해서 `종가`보다 `수정 종가`를 사용하는 것이 일반적입니다. 본 실습에서도 `종가`를 분석해야할 경우, `Close` 컬럼 대신 `Adj Close` 컬럼을 사용하겠습니다.

불러온 데이터의 정보를 확인해봅니다.

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 363 entries, 2020-01-02 to 2021-06-18
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       363 non-null    int64
 1   High       363 non-null    int64
 2   Low        363 non-null    int64
 3   Close      363 non-null    int64
 4   Adj Close  363 non-null    float64
 5   Volume     363 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 19.9+ KB

# 3.3.2 데이터 가공

<div class="alert alert-success">
[문제1]  
    
    
데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.
</div>

In [33]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,363.000000,363.000000,363.000000,363.000000,363.000000,3.630000e+02
mean,65346.005510,66069.421488,64669.283747,65337.465565,63818.180700,2.182663e+07
std,13412.062859,13532.220663,13377.145102,13424.720073,14250.290091,9.770585e+06
min,42600.000000,43550.000000,42300.000000,42500.000000,40449.824220,0.000000e+00
25%,54800.000000,55500.000000,54100.000000,54650.000000,52506.777340,1.542589e+07
50%,60100.000000,60400.000000,59500.000000,60000.000000,57581.503910,1.924763e+07
75%,81100.000000,81800.000000,80750.000000,81150.000000,81019.941405,2.536895e+07
max,90300.000000,96800.000000,89500.000000,91000.000000,90597.414060,9.030618e+07

<div class="alert alert-success">
[문제2]  
    
    
종가('Close') 기준 최대값을 구하세요.
</div>

In [34]:
df['Close'].max()

91000

In [35]:
max(df['Close'])

91000

<div class="alert alert-success">
[문제3]  
    
    
종가('Close') 기준 최소값을 구하세요.
</div>

In [36]:
df['Close'].min()

42500

In [37]:
min(df['Close'])

42500

<div class="alert alert-success">
[문제4]  
    
    
종가('Close') 기준 평균값을 구하세요.
</div>

In [38]:
df['Close'].mean()

65337.46556473829

<div class="alert alert-success">
[문제5]  
    
    
총 데이터의 (row의 개수)를 확인하세요.
</div>

In [39]:
df.shape

(363, 6)

In [40]:
# 방법1 
df.shape[0]

#(참고)컬럼갯수
# df.shape[1]

363

In [41]:
# 방법2 
len(df)

363

<div class="alert alert-success">
[문제6]  

    
특정 컬럼만 선택하세요.(예: ‘Close’ 컬럼만 선택, ‘Higt’와 ‘Low’ 두 개의 컬럼 선택)
</div>

In [42]:
df['Close']

Date
2020-01-02    55200
2020-01-03    55500
2020-01-06    55500
2020-01-07    55800
2020-01-08    56800
              ...
2021-06-14    80500
2021-06-15    80900
2021-06-16    81800
2021-06-17    80900
2021-06-18    80500
Name: Close, Length: 363, dtype: int64

In [43]:
df[['High', 'Low']]

             High    Low
Date
2020-01-02  56000  55000
2020-01-03  56600  54900
2020-01-06  55600  54600
2020-01-07  56400  55600
2020-01-08  57400  55900
...           ...    ...
2021-06-14  80900  80500
2021-06-15  81200  80600
2021-06-16  81900  81100
2021-06-17  81300  80700
2021-06-18  81100  80500

[363 rows x 2 columns]

<div class="alert alert-success">
[문제7]  

    
상위 3개의 로우만 선택하세요.
</div>

In [44]:
df[:3]

             Open   High    Low  Close    Adj Close    Volume
Date
2020-01-02  55500  56000  55000  55200  52537.17969  12993228
2020-01-03  56000  56600  54900  55500  52822.70703  15422255
2020-01-06  54900  55600  54600  55500  52822.70703  10278951

<div class="alert alert-success">
[문제8]  

시작가('Open') 대비 종가('Close')가 높았던 날의 데이터만 선택하세요.
</div>

In [45]:
df1 = df[df['Open'] >= df['Close']]
df1

             Open   High    Low  Close    Adj Close    Volume
Date
2020-01-02  55500  56000  55000  55200  52537.17969  12993228
2020-01-03  56000  56600  54900  55500  52822.70703  15422255
2020-01-14  60400  61000  59900  60000  57105.62891  16906295
2020-01-15  59500  59600  58900  59000  56153.86719  14300928
2020-01-17  61900  62000  61000  61300  58342.92188  16025661
...           ...    ...    ...    ...          ...       ...
2021-06-11  81200  81700  80700  81000  81000.00000  14087962
2021-06-14  80800  80900  80500  80500  80500.00000  10550078
2021-06-15  80900  81200  80600  80900  80900.00000  10075685
2021-06-17  81100  81300  80700  80900  80900.00000  14007385
2021-06-18  81100  81100  80500  80500  80500.00000  14916721

[201 rows x 6 columns]

<div class="alert alert-success">
[문제9]  

종가('Close') 기준 가장 주가가 높았던 날의 데이터(로우)를 선택하세요.
</div>

In [46]:
df[df['Close'] == max(df['Close'])]

             Open   High    Low  Close    Adj Close    Volume
Date
2021-01-11  90000  96800  89500  91000  90597.41406  90306177

<div class="alert alert-success">
[문제 10]  

 종가('Close') 기준 주가가 90,000원 이상이었던 날짜를 반환하세요.
</div>

In [47]:
df[df['Close'] > 90000].index

Index(['2021-01-11', '2021-01-12'], dtype='object', name='Date')

<div class="alert alert-success">
[문제 11]  

2021년 1월 15일의 데이터를 반환하세요.
</div>

In [48]:
df.loc['2021-01-15']

Open         8.980000e+04
High         9.180000e+04
Low          8.800000e+04
Close        8.800000e+04
Adj Close    8.761069e+04
Volume       3.343181e+07
Name: 2021-01-15, dtype: float64

<div class="alert alert-success">
[문제 12]  

2021년 1월 11일의 고가('High')와 저가('Low')값을 반환하세요.
</div>

In [49]:
df.loc['2021-01-11', ['High', 'Low']]

High    96800.0
Low     89500.0
Name: 2021-01-11, dtype: float64

<div class="alert alert-success">
[문제 13]  

데이터프레임(df)dml 100번째 데이터를 선택하세요.
</div>

In [50]:
df.iloc[100]

Open         5.000000e+04
High         5.070000e+04
Low          4.970000e+04
Close        5.070000e+04
Adj Close    4.861053e+04
Volume       2.759696e+07
Name: 2020-05-29, dtype: float64

<div class="alert alert-success">
[문제 14]  
    
데이터를 날짜 역순으로(최신 데이터가 위에 위치하도록) 정렬하세요.
</div>

In [51]:
df.sort_index(ascending=False)

             Open   High    Low  Close    Adj Close    Volume
Date
2021-06-18  81100  81100  80500  80500  80500.00000  14916721
2021-06-17  81100  81300  80700  80900  80900.00000  14007385
2021-06-16  81500  81900  81100  81800  81800.00000  14999855
2021-06-15  80900  81200  80600  80900  80900.00000  10075685
2021-06-14  80800  80900  80500  80500  80500.00000  10550078
...           ...    ...    ...    ...          ...       ...
2020-01-08  56200  57400  55900  56800  54059.99219  23501171
2020-01-07  55700  56400  55600  55800  53108.23828  10009778
2020-01-06  54900  55600  54600  55500  52822.70703  10278951
2020-01-03  56000  56600  54900  55500  52822.70703  15422255
2020-01-02  55500  56000  55000  55200  52537.17969  12993228

[363 rows x 6 columns]

<div class="alert alert-success">
[문제 15]  

종가(‘Close’) 데이터를 가격이 높은 순서대로 정렬하세요.
</div>

In [52]:
df['Close'].sort_values(ascending=False)

Date
2021-01-11    91000
2021-01-12    90600
2021-01-14    89700
2021-01-13    89700
2021-01-25    89400
              ...
2020-04-01    45800
2020-03-18    45600
2020-03-20    45400
2020-03-19    42950
2020-03-23    42500
Name: Close, Length: 363, dtype: int64

In [53]:
df.sort_values(by='Close', ascending=False)

             Open   High    Low  Close    Adj Close    Volume
Date
2021-01-11  90000  96800  89500  91000  90597.41406  90306177
2021-01-12  90300  91400  87800  90600  90199.17969  48682416
2021-01-14  88700  90000  88700  89700  89303.16406  26393970
2021-01-13  89800  91200  89100  89700  89303.16406  36068848
2021-01-25  87000  89900  86300  89400  89004.49219  27258534
...           ...    ...    ...    ...          ...       ...
2020-04-01  47450  47900  45800  45800  43912.47266  27259532
2020-03-18  47750  48350  45600  45600  43400.27734  40152623
2020-03-20  44150  45500  43550  45400  43209.92578  49730008
2020-03-19  46400  46650  42300  42950  40878.10938  56925513
2020-03-23  42600  43550  42400  42500  40449.82422  41701626

[363 rows x 6 columns]

<div class="alert alert-success">
[문제 16]  

인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경하세요.
</div>

In [54]:
#방법 1: 인덱스값이 신규 컬럼으로 생성
df.reset_index(inplace=True)

# 방법 2: 새로운 필드 df['Date']를 만들어 index를 할당
# df['Date'] = df.index

df

           Date   Open   High    Low  Close    Adj Close    Volume
0    2020-01-02  55500  56000  55000  55200  52537.17969  12993228
1    2020-01-03  56000  56600  54900  55500  52822.70703  15422255
2    2020-01-06  54900  55600  54600  55500  52822.70703  10278951
3    2020-01-07  55700  56400  55600  55800  53108.23828  10009778
4    2020-01-08  56200  57400  55900  56800  54059.99219  23501171
..          ...    ...    ...    ...    ...          ...       ...
358  2021-06-14  80800  80900  80500  80500  80500.00000  10550078
359  2021-06-15  80900  81200  80600  80900  80900.00000  10075685
360  2021-06-16  81500  81900  81100  81800  81800.00000  14999855
361  2021-06-17  81100  81300  80700  80900  80900.00000  14007385
362  2021-06-18  81100  81100  80500  80500  80500.00000  14916721

[363 rows x 7 columns]

<div class="alert alert-success">
[문제 17]  

컬럼명을 Date는 ‘날짜’로, ‘High’는 ‘고가’로, ‘Low’는 ‘저가’로 변경하세요.
</div>

In [55]:
df.rename(columns={'Date': '날짜', 'High': '고가', 'Low': '저가'})

             날짜   Open     고가     저가  Close    Adj Close    Volume
0    2020-01-02  55500  56000  55000  55200  52537.17969  12993228
1    2020-01-03  56000  56600  54900  55500  52822.70703  15422255
2    2020-01-06  54900  55600  54600  55500  52822.70703  10278951
3    2020-01-07  55700  56400  55600  55800  53108.23828  10009778
4    2020-01-08  56200  57400  55900  56800  54059.99219  23501171
..          ...    ...    ...    ...    ...          ...       ...
358  2021-06-14  80800  80900  80500  80500  80500.00000  10550078
359  2021-06-15  80900  81200  80600  80900  80900.00000  10075685
360  2021-06-16  81500  81900  81100  81800  81800.00000  14999855
361  2021-06-17  81100  81300  80700  80900  80900.00000  14007385
362  2021-06-18  81100  81100  80500  80500  80500.00000  14916721

[363 rows x 7 columns]

<div class="alert alert-success">
[문제 18]  

날짜(‘Date’) 컬럼을 삭제하세요.
</div>

In [56]:
df.drop(columns=['Date']) # inplace = True

      Open   High    Low  Close    Adj Close    Volume
0    55500  56000  55000  55200  52537.17969  12993228
1    56000  56600  54900  55500  52822.70703  15422255
2    54900  55600  54600  55500  52822.70703  10278951
3    55700  56400  55600  55800  53108.23828  10009778
4    56200  57400  55900  56800  54059.99219  23501171
..     ...    ...    ...    ...          ...       ...
358  80800  80900  80500  80500  80500.00000  10550078
359  80900  81200  80600  80900  80900.00000  10075685
360  81500  81900  81100  81800  81800.00000  14999855
361  81100  81300  80700  80900  80900.00000  14007385
362  81100  81100  80500  80500  80500.00000  14916721

[363 rows x 6 columns]

<div class="alert alert-success">
[문제 19]  

 'diff’ 컬럼을 생성하고, 종가(‘Close’)와 시가(‘Open’)의 차이를 계산하여 채워주세요
</div>

In [57]:
df['diff'] = df['Close']-df['Open']
df

           Date   Open   High    Low  Close    Adj Close    Volume  diff
0    2020-01-02  55500  56000  55000  55200  52537.17969  12993228  -300
1    2020-01-03  56000  56600  54900  55500  52822.70703  15422255  -500
2    2020-01-06  54900  55600  54600  55500  52822.70703  10278951   600
3    2020-01-07  55700  56400  55600  55800  53108.23828  10009778   100
4    2020-01-08  56200  57400  55900  56800  54059.99219  23501171   600
..          ...    ...    ...    ...    ...          ...       ...   ...
358  2021-06-14  80800  80900  80500  80500  80500.00000  10550078  -300
359  2021-06-15  80900  81200  80600  80900  80900.00000  10075685     0
360  2021-06-16  81500  81900  81100  81800  81800.00000  14999855   300
361  2021-06-17  81100  81300  80700  80900  80900.00000  14007385  -200
362  2021-06-18  81100  81100  80500  80500  80500.00000  14916721  -600

[363 rows x 8 columns]

<div class="alert alert-success">
[문제 20]  

 ‘Date’ 필드에 저장된 값을 파싱하여 ‘Year’, ‘Month’, ‘Day’ 필드에 저장하세요
</div>

(2021-07-12수정) 
'Date' 컬럼을 'datetime64' 타입으로 변경하는 코드 추가

In [58]:
df['Date'] = df['Date'].astype('datetime64')
df['Year'] = [d.year for d in df['Date']]
df['Month'] = [d.month for d in df['Date']]
df['Day'] = [d.day for d in df['Date']]
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day
0,2020-01-02,55500,56000,55000,55200,52537.17969,12993228,-300,2020,1,2
1,2020-01-03,56000,56600,54900,55500,52822.70703,15422255,-500,2020,1,3
2,2020-01-06,54900,55600,54600,55500,52822.70703,10278951,600,2020,1,6
3,2020-01-07,55700,56400,55600,55800,53108.23828,10009778,100,2020,1,7
4,2020-01-08,56200,57400,55900,56800,54059.99219,23501171,600,2020,1,8
...,...,...,...,...,...,...,...,...,...,...,...
358,2021-06-14,80800,80900,80500,80500,80500.00000,10550078,-300,2021,6,14
359,2021-06-15,80900,81200,80600,80900,80900.00000,10075685,0,2021,6,15
360,2021-06-16,81500,81900,81100,81800,81800.00000,14999855,300,2021,6,16
361,2021-06-17,81100,81300,80700,80900,80900.00000,14007385,-200,2021,6,17
362,2021-06-18,81100,81100,80500,80500,80500.00000,14916721,-600,2021,6,18

<div class="alert alert-success">
[문제 21]  

수정된 종가('Adj Close') 데이터를 소수점 둘째자리까지 표시하세요
</div>

In [59]:
format = lambda x: '%.2f' % x
df['Adj Close'] = df['Adj Close'].apply(format)
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day
0,2020-01-02,55500,56000,55000,55200,52537.18,12993228,-300,2020,1,2
1,2020-01-03,56000,56600,54900,55500,52822.71,15422255,-500,2020,1,3
2,2020-01-06,54900,55600,54600,55500,52822.71,10278951,600,2020,1,6
3,2020-01-07,55700,56400,55600,55800,53108.24,10009778,100,2020,1,7
4,2020-01-08,56200,57400,55900,56800,54059.99,23501171,600,2020,1,8
...,...,...,...,...,...,...,...,...,...,...,...
358,2021-06-14,80800,80900,80500,80500,80500.00,10550078,-300,2021,6,14
359,2021-06-15,80900,81200,80600,80900,80900.00,10075685,0,2021,6,15
360,2021-06-16,81500,81900,81100,81800,81800.00,14999855,300,2021,6,16
361,2021-06-17,81100,81300,80700,80900,80900.00,14007385,-200,2021,6,17
362,2021-06-18,81100,81100,80500,80500,80500.00,14916721,-600,2021,6,18

<div class="alert alert-success">
[문제 22]  

거래량 필드를 생성하고 , 가 들어가도록 변경하기(예: 16949183.0 -> 16,949,183)
</div>

In [60]:
df['거래량'] = df['Volume'].apply(lambda x : "{:,}".format(x))
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
0,2020-01-02,55500,56000,55000,55200,52537.18,12993228,-300,2020,1,2,"12,993,228"
1,2020-01-03,56000,56600,54900,55500,52822.71,15422255,-500,2020,1,3,"15,422,255"
2,2020-01-06,54900,55600,54600,55500,52822.71,10278951,600,2020,1,6,"10,278,951"
3,2020-01-07,55700,56400,55600,55800,53108.24,10009778,100,2020,1,7,"10,009,778"
4,2020-01-08,56200,57400,55900,56800,54059.99,23501171,600,2020,1,8,"23,501,171"
...,...,...,...,...,...,...,...,...,...,...,...,...
358,2021-06-14,80800,80900,80500,80500,80500.00,10550078,-300,2021,6,14,"10,550,078"
359,2021-06-15,80900,81200,80600,80900,80900.00,10075685,0,2021,6,15,"10,075,685"
360,2021-06-16,81500,81900,81100,81800,81800.00,14999855,300,2021,6,16,"14,999,855"
361,2021-06-17,81100,81300,80700,80900,80900.00,14007385,-200,2021,6,17,"14,007,385"
362,2021-06-18,81100,81100,80500,80500,80500.00,14916721,-600,2021,6,18,"14,916,721"

<div class="alert alert-success">
[문제 23]  

주가 데이터를 월(‘Month’)별로 그룹핑하고, 거래량(‘Volume’)의 평균값을 표시하세요.
</div>

In [61]:
volume_mean = df['Volume'].groupby(df['Month']).mean()
volume_mean

Month
1     2.713407e+07
2     2.086738e+07
3     2.649870e+07
4     1.897715e+07
5     1.911778e+07
6     2.044393e+07
7     1.901368e+07
8     2.008490e+07
9     2.030011e+07
10    1.723988e+07
11    2.363959e+07
12    2.523804e+07
Name: Volume, dtype: float64

<div class="alert alert-success">
[문제 24]  

결측치가 있는지 확인하고, 결측치가 있을 경우 결측치를 처리하세요.
</div>

In [62]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
diff         0
Year         0
Month        0
Day          0
거래량          0
dtype: int64

In [63]:
df.dropna()  # 결측치 삭제

df.fillna({'High': 90000, 'Low': 50000}) # 결측치 치환 예시

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
0,2020-01-02,55500,56000,55000,55200,52537.18,12993228,-300,2020,1,2,"12,993,228"
1,2020-01-03,56000,56600,54900,55500,52822.71,15422255,-500,2020,1,3,"15,422,255"
2,2020-01-06,54900,55600,54600,55500,52822.71,10278951,600,2020,1,6,"10,278,951"
3,2020-01-07,55700,56400,55600,55800,53108.24,10009778,100,2020,1,7,"10,009,778"
4,2020-01-08,56200,57400,55900,56800,54059.99,23501171,600,2020,1,8,"23,501,171"
...,...,...,...,...,...,...,...,...,...,...,...,...
358,2021-06-14,80800,80900,80500,80500,80500.00,10550078,-300,2021,6,14,"10,550,078"
359,2021-06-15,80900,81200,80600,80900,80900.00,10075685,0,2021,6,15,"10,075,685"
360,2021-06-16,81500,81900,81100,81800,81800.00,14999855,300,2021,6,16,"14,999,855"
361,2021-06-17,81100,81300,80700,80900,80900.00,14007385,-200,2021,6,17,"14,007,385"
362,2021-06-18,81100,81100,80500,80500,80500.00,14916721,-600,2021,6,18,"14,916,721"

<div class="alert alert-success">
[문제 25]  

12월의 데이터와 11월의 데이터를 별도의 데이터프레임(dec_df, nov_df)으로 만들고 두 데
이터프레임을 하나의 데이터프레임으로 이어 붙이세요
</div>

In [64]:
dec_df = df[df['Month']==12]
nov_df = df[df['Month']==11]

nov_dec_df = pd.concat([nov_df, dec_df])

nov_dec_df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
206,2020-11-02,56400,57500,56000,57400,55743.18,20489076,1000,2020,11,2,"20,489,076"
207,2020-11-03,57900,58900,57600,58800,57102.78,14950919,900,2020,11,3,"14,950,919"
208,2020-11-04,58900,59000,57800,58500,56811.43,21718561,-400,2020,11,4,"21,718,561"
209,2020-11-05,59000,60300,58800,60300,58559.48,20639475,1300,2020,11,5,"20,639,475"
210,2020-11-06,60700,60800,59600,60100,58365.25,16910230,-600,2020,11,6,"16,910,230"
211,2020-11-09,60700,60900,60100,60200,58462.36,15892961,-500,2020,11,9,"15,892,961"
212,2020-11-10,60500,60500,59500,60200,58462.36,19073552,-300,2020,11,10,"19,073,552"
213,2020-11-11,60700,61400,60400,61300,59530.61,25628510,600,2020,11,11,"25,628,510"
214,2020-11-12,61000,61400,60700,61000,59239.27,19800573,0,2020,11,12,"19,800,573"
215,2020-11-13,61300,63200,61000,63200,61375.77,31508829,1900,2020,11,13,"31,508,829"
216,2020-11-16,64000,66700,63900,66300,64386.29,36354334,2300,2020,11,16,"36,354,334"
217,2020-11-17,67000,67000,65600,65700,63803.61,30204089,-1300,2020,11,17,"30,204,089"
218,2020-11-18,65700,66200,64700,64800,62929.59,22963790,-900,2020,11,18,"22,963,790"
219,2020-11-19,64100,64800,63900,64600,62735.36,16590290,500,2020,11,19,"16,590,290"
220,2020-11-20,63900,65200,63900,64700,62832.48,15068682,800,2020,11,20,"15,068,682"
221,2020-11-23,64800,67800,64700,67500,65551.66,27134398,2700,2020,11,23,"27,134,398"
222,2020-11-24,67900,69500,67000,67700,65745.88,32158235,-200,2020,11,24,"32,158,235"
223,2020-11-25,67900,68300,66500,66600,64677.63,32447065,-1300,2020,11,25,"32,447,065"
224,2020-11-26,66100,68000,66000,68000,66037.22,19023323,1900,2020,11,26,"19,023,323"
225,2020-11-27,68000,68400,67600,68200,66231.45,14063434,200,2020,11,27,"14,063,434"
226,2020-11-30,68400,68600,66700,66700,64774.75,43811016,-1700,2020,11,30,"43,811,016"
227,2020-12-01,67100,68300,67100,67800,65842.99,22327173,700,2020,12,1,"22,327,173"
228,2020-12-02,68400,69900,68300,69500,67493.93,29703942,1100,2020,12,2,"29,703,942"
229,2020-12-03,70100,70500,69300,69700,67688.15,23677989,-400,2020,12,3,"23,677,989"
230,2020-12-04,70400,72100,70100,71500,69436.20,28130533,1100,2020,12,4,"28,130,533"
231,2020-12-07,72400,73500,71900,72900,70795.79,28490496,500,2020,12,7,"28,490,496"
232,2020-12-08,72200,72900,71600,71700,69630.43,25000338,-500,2020,12,8,"25,000,338"
233,2020-12-09,72100,73900,72000,73900,71766.92,24077996,1800,2020,12,9,"24,077,996"
234,2020-12-10,72700,73800,72500,72900,70795.79,39882928,200,2020,12,10,"39,882,928"
235,2020-12-11,73500,73800,73100,73400,71281.36,18486672,-100,2020,12,11,"18,486,672"
236,2020-12-14,73600,74500,73200,73800,71669.81,21510415,200,2020,12,14,"21,510,415"
237,2020-12-15,73800,74100,73300,73800,71669.81,20863671,0,2020,12,15,"20,863,671"
238,2020-12-16,74100,74500,73400,73800,71669.81,17512081,-300,2020,12,16,"17,512,081"
239,2020-12-17,73400,73700,72600,73300,71184.24,24293214,-100,2020,12,17,"24,293,214"
240,2020-12-18,73300,73700,73000,73000,70892.91,17613029,-300,2020,12,18,"17,613,029"
241,2020-12-21,73100,73400,72000,73000,70892.91,20367355,-100,2020,12,21,"20,367,355"
242,2020-12-22,72500,73200,72100,72300,70213.10,16304910,-200,2020,12,22,"16,304,910"
243,2020-12-23,72400,74000,72300,73900,71766.92,19411326,1500,2020,12,23,"19,411,326"
244,2020-12-24,74100,78800,74000,77800,75554.35,32502870,3700,2020,12,24,"32,502,870"
245,2020-12-28,79000,80100,78200,78700,76428.38,40085044,-300,2020,12,28,"40,085,044"
246,2020-12-29,78800,78900,77300,78300,77953.60,30339449,-500,2020,12,29,"30,339,449"
247,2020-12-30,77400,81300,77300,81000,80641.66,29417421,3600,2020,12,30,"29,417,421"