<a href="https://colab.research.google.com/github/zzhining/python_data_basic/blob/main/3%EC%9E%A5/03_02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Table

![image-20230120104313286.png]()

# 3.2.1 Series DataFrame

![image-20230120104327909.png]()

In [1]:
import pandas as pd

# 3.2.2


##  DataFrame

In [2]:
data = {'':range(2000,2010),
    '': [85, 95, 75, 70, 100, 100, 95, 85, 80, 85]}
df = pd.DataFrame(data)
df

0  2000   85
1  2001   95
2  2002   75
3  2003   70
4  2004  100
5  2005  100
6  2006   95
7  2007   85
8  2008   80
9  2009   85

In [3]:
df = pd.DataFrame(data, columns =['', ''])
df

0   85  2000
1   95  2001
2   75  2002
3   70  2003
4  100  2004
5  100  2005
6   95  2006
7   85  2007
8   80  2008
9   85  2009

In [4]:
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

df = pd.DataFrame(data, index = index)
df

a  2000   85
b  2001   95
c  2002   75
d  2003   70
e  2004  100
f  2005  100
g  2006   95
h  2007   85
i  2008   80
j  2009   85

-----
<div class="alert alert-warning">
[Tip] (Transpose)
</div>

In [5]:
df.T

       a     b     c     d     e     f     g     h     i     j
  2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
    85    95    75    70   100   100    95    85    80    85

-----

##

> *  :  2021 2     (CARD_SUBWAY_MONTH_202102.csv)

<div class="alert alert-success">
    []  
    
    
2021 2       (CARD_SUBWAY_MONTH_202102.csv)    .
</div>

In [7]:
#       
data = pd.read_csv('https://raw.githubusercontent.com/zzhining/python_data_basic/main/3%EC%9E%A5/CARD_SUBWAY_MONTH_202102.csv')

#       
# data = pd.read_csv('CARD_SUBWAY_MONTH_202102.csv')
data

20210201       1282    1259  20210204   NaN
20210201         48      43  20210204   NaN
20210201        415     413  20210204   NaN
20210201       1463    1466  20210204   NaN
20210201       495     463  20210204   NaN
...       ...  ...   ...     ...       ...   ...
20210228        216     236  20210303   NaN
20210228       3299    3187  20210303   NaN
20210228        322     304  20210303   NaN
20210228       1899    1716  20210303   NaN
20210228         30      31  20210303   NaN

[16751 rows x 6 columns]

In [8]:
#       
df = pd.read_csv('https://raw.githubusercontent.com/zzhining/python_data_basic/main/3%EC%9E%A5/CARD_SUBWAY_MONTH_202102.csv', index_col= False)

#       
# df = pd.read_csv('CARD_SUBWAY_MONTH_202102.csv', index_col= False)
df

FileNotFoundError: ignored

# 3.2.3

<div class="alert alert-success">
    []  
    
    
(df)     
</div>

In [9]:
df.head()

0  20210201         1282    1259  20210204
1  20210201           48      43  20210204
2  20210201          415     413  20210204
3  20210201         1463    1466  20210204
4  20210201         495     463  20210204

<div class="alert alert-success">
    []  
    
    
(df)       (shape) .
</div>

In [10]:
df.shape

(16751, 6)

<div class="alert alert-warning">
[Tip]     tail()
</div>

In [11]:
df.tail(7)

16744  20210228         616     611  20210303
16745  20210228         535     510  20210303
16746  20210228         216     236  20210303
16747  20210228        3299    3187  20210303
16748  20210228         322     304  20210303
16749  20210228        1899    1716  20210303
16750  20210228          30      31  20210303

<div class="alert alert-success">
    []  
    
    
(df) , ,      
</div>

In [12]:
df.describe()

count  1.675100e+04  16751.000000  16751.000000  1.675100e+04
mean   2.021021e+07   8567.344696   8536.474419  2.021023e+07
std    8.083073e+00   9006.651687   9064.054078  2.749315e+01
min    2.021020e+07      1.000000      0.000000  2.021020e+07
25%    2.021021e+07   2652.500000   2594.500000  2.021021e+07
50%    2.021022e+07   5857.000000   5733.000000  2.021022e+07
75%    2.021022e+07  11257.000000  11117.000000  2.021022e+07
max    2.021023e+07  88904.000000  87891.000000  2.021030e+07

<div class="alert alert-success">
    []  
    
    
(df)    ,       .
</div>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16751 entries, 0 to 16750
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0       16751 non-null  int64
 1        16751 non-null  object
 2         16751 non-null  object
 3     16751 non-null  int64
 4     16751 non-null  int64
 5       16751 non-null  int64
dtypes: int64(4), object(2)
memory usage: 785.3+ KB

<div class="alert alert-success">
    []  
    
    
      
</div>

In [14]:
df[''].unique()

array(['', '', '', '', '', '', '', '',
       ' 1', '', '', '', '', '', '', '92~3',
       '9', '8', '7', '6', '5', '4', '3', '2', '1'],
      dtype=object)

<div class="alert alert-success">
    []  
    
    
         .
</div>

In [15]:
df[''].value_counts()

5         1484
7         1428
2         1400
         1092
6         1051
          967
3          937
          821
          737
4          728
9          700
          588
          560
          532
          504
8          476
 1     392
92~3     364
          364
        364
          308
          282
1          280
          224
          168
Name: , dtype: int64

# 3.2.4

<div class="alert alert-success">
    []  
    
    
     
</div>

In [16]:
df.sort_values(by=[''])

13752  20210224  3         1       0  20210227
7584   20210213            1       0  20210216
12626  20210222  3         1       0  20210225
12932  20210222            1       0  20210225
13043  20210222            1       0  20210225
...         ...  ...  ...     ...     ...       ...
14384  20210225  2      84374   82960  20210228
14314  20210224  2      84628   82667  20210227
13705  20210223  2      84922   83364  20210226
10857  20210219  2      86800   80948  20210222
14984  20210226  2      88904   87891  20210301

[16751 rows x 6 columns]

In [17]:
df.sort_values(by=[''], ascending=False)

14984  20210226  2       88904   87891  20210301
10857  20210219  2       86800   80948  20210222
13705  20210223  2       84922   83364  20210226
14314  20210224  2       84628   82667  20210227
14384  20210225  2       84374   82960  20210228
...         ...  ...   ...     ...     ...       ...
14346  20210224             1       0  20210227
4853   20210209             1       0  20210212
14425  20210225  3          1       0  20210228
10025  20210217           1       0  20210220
13752  20210224  3          1       0  20210227

[16751 rows x 6 columns]

-------
<div class="alert alert-warning">
    [Tip]  
   sort_index()
</div>

In [18]:
df.sort_index(ascending=False)

16750  20210228           30      31  20210303
16749  20210228         1899    1716  20210303
16748  20210228          322     304  20210303
16747  20210228         3299    3187  20210303
16746  20210228          216     236  20210303
...         ...  ...  ...     ...     ...       ...
4      20210201         495     463  20210204
3      20210201         1463    1466  20210204
2      20210201          415     413  20210204
1      20210201           48      43  20210204
0      20210201         1282    1259  20210204

[16751 rows x 6 columns]

-------

# 3.2.5

<div class="alert alert-success">
    []  
    
    
   .
</div>

In [19]:
df['']

0
1
2
3
4
        ...
16746
16747
16748
16749
16750
Name: , Length: 16751, dtype: object

<div class="alert alert-success">
    []  
    
    
  10(0 9) () .
</div>

In [20]:
df[0:10]

0  20210201         1282    1259  20210204
1  20210201           48      43  20210204
2  20210201          415     413  20210204
3  20210201         1463    1466  20210204
4  20210201         495     463  20210204
5  20210201          687     662  20210204
6  20210201         2237    1736  20210204
7  20210201         5139    5082  20210204
8  20210201          721     606  20210204
9  20210201         9067    8349  20210204

In [21]:
df.iloc[1]

      20210201


          48
          43
      20210204
Name: 1, dtype: object

--------
<div class="alert alert-warning">
    [Tip]  
    
      loc[ ], iloc[ ]
</div>

In [22]:
#    
df2 = df.set_index('')
df2.head(3)

20210201        1282    1259  20210204
20210201          48      43  20210204
20210201         415     413  20210204

In [23]:
df2.iloc[1]

          48
          43
      20210204
Name: 20210201, dtype: object

In [25]:
df2.loc[20210201]

20210201         1282    1259  20210204
20210201           48      43  20210204
20210201          415     413  20210204
20210201         1463    1466  20210204
20210201         495     463  20210204
...       ...  ...     ...     ...       ...
20210201         5561    5396  20210204
20210201  1     35821   33113  20210204
20210201          166     134  20210204
20210201  8       6122    6090  20210204
20210201          273     249  20210204

[599 rows x 5 columns]

--------

<div class="alert alert-success">
    []  
    
    
   2  .
</div>

In [26]:
df[''] == '2'

0        False
1        False
2        False
3        False
4        False
         ...
16746    False
16747    False
16748    False
16749    False
16750    False
Name: , Length: 16751, dtype: bool

In [27]:
df[df[''] == '2']

532    20210201  2  ()    2365    2430  20210204
533    20210201  2          9269    9599  20210204
534    20210201  2           6318    6738  20210204
535    20210201  2            1434    1469  20210204
536    20210201  2            3046    3110  20210204
...         ...  ...        ...     ...     ...       ...
16207  20210228  2            2806    2830  20210303
16208  20210228  2             480     477  20210303
16209  20210228  2           3234    3281  20210303
16210  20210228  2          4814    4805  20210303
16211  20210228  2  ()    1069    1029  20210303

[1400 rows x 6 columns]

<div class="alert alert-success">
    []  
    
    
   50000    .
</div>

In [28]:
df[df[''] >= 50000]

550    20210201  2      57932   58583  20210204
552    20210201  2           57124   56022  20210204
560    20210201  2           77926   76056  20210204
562    20210201  2           53457   46468  20210204
566    20210201  2  ()   56357   56358  20210204
...         ...  ...       ...     ...     ...       ...
14994  20210226  2      61720   61649  20210301
15001  20210226  2         54628   58375  20210301
15579  20210227  2  ()   56574   53383  20210302
15585  20210227  2           57464   57150  20210302
15602  20210227  2         56129   60023  20210302

[109 rows x 6 columns]

In [29]:
df[df[''] > 50000][''].unique()

array(['', '', '', '', '()', '', '', '()'],
      dtype=object)

--------
<div class="alert alert-warning">
    [Tip]  
    
max(), idxmax(), argmax()
</div>

In [30]:
df2[''].max()

88904

In [31]:
df2[''].idxmax()

20210226

In [32]:
df2[''].argmax()

14984

# 3.2.6

<div class="alert alert-success">
    []  
    
    
 0  .
</div>

In [33]:
df.drop(0)

1      20210201           48      43  20210204
2      20210201          415     413  20210204
3      20210201         1463    1466  20210204
4      20210201         495     463  20210204
5      20210201          687     662  20210204
...         ...  ...  ...     ...     ...       ...
16746  20210228          216     236  20210303
16747  20210228         3299    3187  20210303
16748  20210228          322     304  20210303
16749  20210228         1899    1716  20210303
16750  20210228           30      31  20210303

[16750 rows x 6 columns]

<div class="alert alert-success">
    []  
    
    
   
</div>

In [34]:
df.drop([''], axis=1)

0      20210201         1282    1259
1      20210201           48      43
2      20210201          415     413
3      20210201         1463    1466
4      20210201         495     463
...         ...  ...  ...     ...     ...
16746  20210228          216     236
16747  20210228         3299    3187
16748  20210228          322     304
16749  20210228         1899    1716
16750  20210228           30      31

[16751 rows x 5 columns]

# 3.2.7

##

<div class="alert alert-success">
    []  
    
    2 .
</div>

In [35]:
df['']+2

0        1284
1          50
2         417
3        1465
4         497
         ...
16746     218
16747    3301
16748     324
16749    1901
16750      32
Name: , Length: 16751, dtype: int64

<div class="alert alert-success">
    []  
    
'       .
</div>

In [36]:
df[''] = df[''] - df['']
df.head()

0  20210201         1282    1259  20210204         23
1  20210201           48      43  20210204          5
2  20210201          415     413  20210204          2
3  20210201         1463    1466  20210204         -3
4  20210201         495     463  20210204         32

<div class="alert alert-success">
    []  
    
  
</div>

In [37]:
df[''].mean()

30.870276401408873

##

<div class="alert alert-success">
    []  
    
  10  .
</div>

In [38]:
#
sample_df = df.sample(n=10)
sample_df

4542   20210208              8334    8471  20210211       -137
629    20210202             11670    9402  20210205       2268
1411   20210203  7           8333    9839  20210206      -1506
1545   20210203              6821    6616  20210206        205
16152  20210228  1          21297   19222  20210303       2075
16611  20210228              631     683  20210303        -52
1919   20210204  2  ()   59188   59509  20210207       -321
2747   20210205  8        10362    9775  20210208        587
6298   20210211              4061    3647  20210214        414
15497  20210226              4475    4438  20210301         37

##

<div class="alert alert-success">
    []  
    
 (sample_df)     1, 2, 3 4
 (line1, line2, line3, line4) 
</div>

In [39]:
sample_df[''].replace(['1', '2', '3', '4'], ['line1', 'line2', 'line3', 'line4'])

4542
629
1411       7
1545
16152    line1
16611
1919     line2
2747       8
6298
15497
Name: , dtype: object

##

<div class="alert alert-success">
    []  
(df)   --(:2021-02-01)   
.
</div>

In [40]:
def getDate(data):
    data = str(data)
    year = data[0:4]
    month = data[4:6]
    day = data[6:8]
    return year+'-'+month+'-'+day

In [41]:
d = 20210201
getDate(d)

'2021-02-01'

In [42]:
df[''].apply(getDate)

0        2021-02-01
1        2021-02-01
2        2021-02-01
3        2021-02-01
4        2021-02-01
            ...
16746    2021-02-28
16747    2021-02-28
16748    2021-02-28
16749    2021-02-28
16750    2021-02-28
Name: , Length: 16751, dtype: object

<div class="alert alert-success">
    []  
(df) 1   ,     datetime64
  .
</div>

In [43]:
df['1'] =  df[''].apply(getDate)

In [44]:
df.head()

                               1
0  20210201         1282    1259  20210204         23  2021-02-01
1  20210201           48      43  20210204          5  2021-02-01
2  20210201          415     413  20210204          2  2021-02-01
3  20210201         1463    1466  20210204         -3  2021-02-01
4  20210201         495     463  20210204         32  2021-02-01

In [45]:
df['1'].astype('datetime64')

0       2021-02-01
1       2021-02-01
2       2021-02-01
3       2021-02-01
4       2021-02-01
           ...
16746   2021-02-28
16747   2021-02-28
16748   2021-02-28
16749   2021-02-28
16750   2021-02-28
Name: 1, Length: 16751, dtype: datetime64[ns]

--------
<div class="alert alert-warning">
    [Tip]  
    
 apply   !
</div>

In [46]:
df[''].apply(lambda x: x+2)

0        1284
1          50
2         417
3        1465
4         497
         ...
16746     218
16747    3301
16748     324
16749    1901
16750      32
Name: , Length: 16751, dtype: int64

In [47]:
plus2 = lambda x: x+2
df[''].apply(plus2)

0        1284
1          50
2         417
3        1465
4         497
         ...
16746     218
16747    3301
16748     324
16749    1901
16750      32
Name: , Length: 16751, dtype: int64

------

##

In [48]:
dummies = pd.get_dummies(sample_df[''], prefix='')
dummies

       _1  _2  _7  _8  _  _  _  _
4542        0       0       0       0       1       0       0       0
629         0       0       0       0       0       0       0       1
1411        0       0       1       0       0       0       0       0
1545        0       0       0       0       1       0       0       0
16152       1       0       0       0       0       0       0       0
16611       0       0       0       0       0       1       0       0
1919        0       1       0       0       0       0       0       0
2747        0       0       0       1       0       0       0       0
6298        0       0       0       0       1       0       0       0
15497       0       0       0       0       0       0       1       0

##

<div class="alert alert-success">
    []  
   .
</div>

In [49]:
import numpy as np
data = {'':range(2000,2010),
    '': [85, 95, 75, 70, 100, np.nan, 95, 85, 80, 85],
    '': [95, 70, 100, 85, 80, 85, 95, 95, np.nan, 70],
    '': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 95, np.nan, 70],   }
df = pd.DataFrame(data)
df

0  2000   85.0   95.0   NaN
1  2001   95.0   70.0   NaN
2  2002   75.0  100.0   NaN
3  2003   70.0   85.0   NaN
4  2004  100.0   80.0   NaN
5  2005    NaN   85.0   NaN
6  2006   95.0   95.0   NaN
7  2007   85.0   95.0  95.0
8  2008   80.0    NaN   NaN
9  2009   85.0   70.0  70.0

<div class="alert alert-success">
    []  
        .
</div>

In [50]:
df.isna()

0  False  False  False   True
1  False  False  False   True
2  False  False  False   True
3  False  False  False   True
4  False  False  False   True
5  False   True  False   True
6  False  False  False   True
7  False  False  False  False
8  False  False   True   True
9  False  False  False  False

In [51]:
df.isna().sum()

      0
    1
    1
    8
dtype: int64

<div class="alert alert-success">
    []  
    0 .
</div>

In [52]:
df.fillna(0)

0  2000   85.0   95.0   0.0
1  2001   95.0   70.0   0.0
2  2002   75.0  100.0   0.0
3  2003   70.0   85.0   0.0
4  2004  100.0   80.0   0.0
5  2005    0.0   85.0   0.0
6  2006   95.0   95.0   0.0
7  2007   85.0   95.0  95.0
8  2008   80.0    0.0   0.0
9  2009   85.0   70.0  70.0

In [53]:
df[''].fillna(50, inplace=True)
df

0  2000   85.0   95.0  50.0
1  2001   95.0   70.0  50.0
2  2002   75.0  100.0  50.0
3  2003   70.0   85.0  50.0
4  2004  100.0   80.0  50.0
5  2005    NaN   85.0  50.0
6  2006   95.0   95.0  50.0
7  2007   85.0   95.0  95.0
8  2008   80.0    NaN  50.0
9  2009   85.0   70.0  70.0

<div class="alert alert-success">
    []  
    .
</div>

In [54]:
df.dropna()

0  2000   85.0   95.0  50.0
1  2001   95.0   70.0  50.0
2  2002   75.0  100.0  50.0
3  2003   70.0   85.0  50.0
4  2004  100.0   80.0  50.0
6  2006   95.0   95.0  50.0
7  2007   85.0   95.0  95.0
9  2009   85.0   70.0  70.0

# 3.2.8

### groupby

<div class="alert alert-success">
    []  
         ,  
     .
</div>

In [56]:
#       
df = pd.read_csv('https://raw.githubusercontent.com/zzhining/python_data_basic/main/3%EC%9E%A5/CARD_SUBWAY_MONTH_202102.csv', index_col= False)

#       
# df = pd.read_csv('CARD_SUBWAY_MONTH_202102.csv', index_col= False)
df.groupby(['']).mean()

<ipython-input-56-90756446bdeb>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['']).mean()

1       2.021021e+07  16711.396429  16224.032143  2.021023e+07
2       2.021021e+07  20258.510000  20406.605714  2.021023e+07
3       2.021021e+07  11563.884739  11542.535752  2.021023e+07
4       2.021021e+07  13839.026099  13953.564560  2.021023e+07
5       2.021021e+07   8774.492588   8727.040431  2.021023e+07
6       2.021021e+07   6499.918173   6405.854424  2.021023e+07
7       2.021021e+07  10210.968487  10060.233193  2.021023e+07
8       2.021021e+07   8356.453782   8425.422269  2.021023e+07
9       2.021021e+07   8110.387143   8246.852857  2.021023e+07
92~3  2.021021e+07   5238.137363   5156.379121  2.021023e+07
       2.021021e+07   1970.116883   1908.357143  2.021023e+07
       2.021021e+07   8366.500000   8366.444139  2.021023e+07
       2.021021e+07   5051.796590   4940.018270  2.021023e+07
       2.021021e+07   2962.963365   2910.443691  2.021023e+07
       2.021021e+07  10789.323214  10672.037500  2.021023e+07
       2.021021e+07   1462.635338   1409.640977  2.021023e+07
 1  2.021021e+07   5076.122449   4643.492347  2.021023e+07
       2.021021e+07   8984.544643   8827.571429  2.021023e+07
       2.021021e+07   7849.137539   8079.867632  2.021023e+07
       2.021021e+07   2341.289683   2335.438492  2.021023e+07
       2.021021e+07   6966.684066   6926.851648  2.021023e+07
     2.021021e+07   2559.425824   2508.461538  2.021023e+07
       2.021021e+07   8072.929078   7861.592199  2.021023e+07
       2.021021e+07   1495.559524   1447.095238  2.021023e+07
       2.021021e+07   3235.462585   3173.188776  2.021023e+07

### merge

- inner join
- left join
- right join
- full outer join

----

![image-20210606232411156.png]()

<div class="alert alert-success">
    []  
      .
    
|  |  |
| ---- | ---- |
| A    |  |
| B    |  |
| D    |  |



|  |    |
| ---- | ---- |
| A    | 180  |
| B    | 160  |
| C    | 150  |


</div>

In [57]:
df1 = pd.DataFrame({'': ['A', 'B', 'D'],
                    '':['', '', '']
                   })
df1

0  A
1  B
2  D

In [58]:
df2 = pd.DataFrame({'': ['A', 'B', 'C'],
                    '':[180, 160, 150],
                   })
df2

0  A  180
1  B  160
2  C  150

In [59]:
pd.merge(df1, df2)

0  A    180
1  B    160

----

![image-20210606232521550.png]()

In [60]:
pd.merge(df1, df2, how='left')

0  A    180.0
1  B    160.0
2  D      NaN

----

![image-20210606232543046.png]()

In [61]:
pd.merge(df1, df2, how='right')

0  A     180
1  B     160
2  C  NaN  150

----

![image-20210606232557458.png]()

In [62]:
pd.merge(df1, df2, how='outer')

0  A     180.0
1  B     160.0
2  D       NaN
3  C  NaN  150.0

### concat

![image-20210606232107135.png]()

<div class="alert alert-success">
    []  
      .
    
|    |    |  |  |
| ---: | ---: | ---: | ---- |
|    A |  180 |   23 |  |
|    B |  160 |   46 |  |
|    C |  150 |   33 |  |
|    D |  170 |   65 |  |
|    E |  170 |   28 |  |

|  |    |  |  |
| ---: | ---: | ---: | ---: |
|    F |  190 |   22 |  |
|    G |  180 |   18 |  |
|    H |  150 |   87 |  |
|    I |  160 |   45 |  |
|    J |  170 |   74 |  |
</div>

In [63]:
df1 = pd.DataFrame({'': ['A', 'B', 'C', 'D', 'E'],
                    '':[180, 160, 150, 170, 170],
                    '': [23, 46, 33, 65, 28],
                    '': ['', '', '', '', '']
                   })
df1

0  A  180  23
1  B  160  46
2  C  150  33
3  D  170  65
4  E  170  28

In [64]:
df2 = pd.DataFrame({'': ['F', 'G', 'H', 'I', 'J'],
                    '':[190, 180, 150, 160, 170],
                    '': [22, 18, 87, 45, 74],
                    '': ['', '', '', '', '']
                   })
df2

0  F  190  22
1  G  180  18
2  H  150  87
3  I  160  45
4  J  170  74

In [65]:
pd.concat([df1, df2])

0  A  180  23
1  B  160  46
2  C  150  33
3  D  170  65
4  E  170  28
0  F  190  22
1  G  180  18
2  H  150  87
3  I  160  45
4  J  170  74

In [66]:
pd.concat([df1, df2], axis = 1)

0  A  180  23    F  190  22
1  B  160  46    G  180  18
2  C  150  33    H  150  87
3  D  170  65    I  160  45
4  E  170  28    J  170  74

# 3.2.9

In [67]:
df = pd.DataFrame({'': ['A', 'B', 'D'],
                    '':['', '', '']
                   })
df

0  A
1  B
2  D

In [68]:
df.to_csv('dataframe.csv', encoding='euc-kr')

In [69]:
df.to_csv('dataframe.csv', encoding='euc-kr', index = False)

In [70]:
df.to_csv('dataframe.csv', encoding='euc-kr', header= False)

In [71]:
df1 = pd.read_csv('dataframe.csv', encoding='euc-kr')
df1

   0  A
0  1  B
1  2  D

In [72]:
df1 = pd.read_csv('dataframe.csv', encoding='euc-kr', index_col= 0)
df1

   A
0
1  B
2  D